<link rel="stylesheet" href="~/css/cadastro.css">

<main class="container">
    <h2 class="text-center my-4">Cadastros</h2>
    <div class="divCadastro">
        <a asp-action="Index" asp-controller="CadastrarDestino"><button>Cadastrar Destino</button></a>
        <a asp-action="cadastrarPromocao"><button>Cadastrar Oferta</button></a>
        <a asp-action="Index" asp-controller="Comprar"><button>Comprar</button></a>
    </div>
  </main>
