<main class="mainDestino mainPromocao">           
        <h1 id="mainH1">Melhores Destinos</h1>
        
        <section class="section1">
            <div class="grid">
            <div class="grid-item">
                <div class="card">
                <img class="card-img" src="https://media.istockphoto.com/photos/colosseum-in-rome-during-sunrise-picture-id1271579758?b=1&k=20&m=1271579758&s=612x612&w=0&h=hcS9l6qIGjziDSRso1M53ZMDG8mTgnRbpI4jvPaXR4w=" alt="Roma" />
                <div class="card-content">
                    <h1 class="card-header">Roma</h1>
                    <p class="card-text">
                        Roma é conhecida por sua impressionante <strong> arquitetura </strong>, com o Coliseu, o Panteão e a Fontana di Trevi como as principais atrações.
                    </p>               
                    <a class="card-btn" href="./compra.html" type="button">Comprar<span>&rarr;</span></a>
                </div>
                </div>
                
            </div>
            <div class="grid-item">
                <div class="card">
                <img
                    class="card-img"
                    src="https://cdn.pixabay.com/photo/2017/03/20/14/24/grand-canyon-2159269_960_720.jpg"
                    alt="Grand Canyon"
                />
                <div class="card-content">
                    <h1 class="card-header">Grand Canyon</h1>
                    <p class="card-text">
                        Uma das maravilhas naturais do mundo, o icônico Grand Canyon atrai
                        visitantes empoleirados na borda de seu
                        <strong> penhascos elevados </strong>.
                    </p>
                    <a class="card-btn" href="./compra.html" type="button">Comprar<span>&rarr;</span></a>
                </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="card">
                <img class="card-img" src="https://www.vounajanela.com/wp-content/uploads/2021/02/maldivas-2.jpg" alt="Ilhas Maldivas" />
                <div class="card-content">
                    <h1 class="card-header">Ilhas Maldivas</h1>
                    <p class="card-text">
                        As Ilhas Maldivas são conhecidas por seus
                        <strong> ambiente natural </strong> incluindo o oceano azul,
                        praias de areia branca e ar puro, atraindo turistas.
                    </p>
                    <a class="card-btn" href="./compra.html" type="button">Comprar<span>&rarr;</span></a>
                </div>
                </div>
            </div>
            </div>
            </section>
            <section class="section1">
                <div class="grid">
                <div class="grid-item">
                    <div class="card">
                    <img class="card-img" src="https://cdn.pixabay.com/photo/2019/09/26/08/06/bangkok-4505350_1280.jpg" alt="Bangkok" />
                    <div class="card-content">
                        <h1 class="card-header">Bangkok</h1>
                        <p class="card-text">
                            A capital da <strong> Tailândia </strong>, é uma grande cidade conhecida pelos santuários ornamentados e pela animada vida urbana.  </p>
                        <a class="card-btn" href="./compra.html" type="button">Comprar<span>&rarr;</span></a>
                    </div>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="card">
                    <img
                        class="card-img"
                        src="https://brasiliaempresas.stgnews.com.br/wp-content/uploads/2019/08/B%C3%BAzios.jpg"
                        alt="Buzios"
                    />
                    <div class="card-content">
                        <h1 class="card-header">Búzios</h1>
                        <p class="card-text">
                            Península oceânica que desaguam no Rio de Janeiro. Sofisticado destino de férias com inúmeras praias e local de <strong> surf </strong> popular.
                        </p>
                        <a class="card-btn" href="./compra.html" type="button">Comprar<span>&rarr;</span></a>
                    </div>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="card">
                    <img class="card-img" src="https://www.gramado.rs.gov.br/storage/thumbs/attachments/l/5SSA8OfaTHmAzSSDpzpZ6Xbm23aDhBreBAXVcb9g.jpeg" alt="Gramado" />
                    <div class="card-content">
                        <h1 class="card-header">Gramado</h1>
                        <p class="card-text">
                            Situada no Rio Grande do Sul, Brasil. Gramado é conhecida pelas suas exibições de luzes de <strong>Natal </strong> e pelas hortênsias em flor na <strong> primavera </strong>. 
                        </p>
                        <a class="card-btn" href="./compra.html" type="button">Comprar<span>&rarr;</span></a>
                    </div>
                    </div>
                </div>
                </div>
                </section>
                <section class="section1">
                    <div class="grid">
                    <div class="grid-item">
                        <div class="card">
                        <img class="card-img" src="https://upload.wikimedia.org/wikipedia/commons/1/18/Lagoa_e_duna_no_Parque_Nacional_dos_Len%C3%A7ois_maranhenses_%28S%C3%A3o_Lu%C3%ADs_-_BR%29.JPG" alt="LencoisMaranhenses" />
                        <div class="card-content">
                            <h1 class="card-header">Lençóis Maranhenses</h1>
                            <p class="card-text">
                                No norte do Brasil (Maranhão). É conhecido pela sua vasta paisagem desértica de grandes<strong> dunas </strong> de areia branca e pelas lagoas sazonais de água da chuva. 
                            </p>
                            <a class="card-btn" href="./compra.html" type="button">Comprar<span>&rarr;</span></a>
                        </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="card">
                        <img
                            class="card-img"
                            src="https://www.passeios.org/wp-content/uploads/2017/03/v-8-e1489438946878.jpg"
                            alt="Conde"
                        />
                        <div class="card-content">
                            <h1 class="card-header">Conde</h1>
                            <p class="card-text">
                                Fica localizado no litoral sul do Estado da Paraíba, Brasil. De clima tropical chuvoso com lindas <strong> praias </strong> incríveis como Praia do Coqueirinho, Praia de Tambaba e Praia de Tabatinga.
                            </p>
                            <a class="card-btn" href="./compra.html" type="button">Comprar<span>&rarr;</span></a>
                        </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="card">
                        <img class="card-img" src="https://cdn2.revistahoteis.com.br/wp-content/uploads/2020/06/BonitoMS_GrutaAzul_FotoFlavioAndrade_MTUR.jpg" alt="Bonito" />
                        <div class="card-content">
                            <h1 class="card-header">Bonito</h1>
                            <p class="card-text">
                                Uma cidade e centro de <strong> ecoturismo </strong> no estado brasileiro de Mato Grosso do Sul. O Abismo Anhumas é uma enorme <strong>caverna</strong> permite a prática de rapel e de mergulho num lago subterrâneo. 
                            </p>
                            <a class="card-btn" href="./compra.html" type="button">Comprar<span>&rarr;</span></a>
                        </div>
                        </div>
                    </div>
                    </div>
                    </section>
        </main>