@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/Style.css" rel="stylesheet"/>
 <main class="mainHome" >
        <h1>Viagem mais procuradas</h1>    
         <div class="container row" >
             <div class="divTop col-sm" >
                 <p>Lençóis Maranhenses</p>
                 <iframe width="560" height="315" src="https://www.youtube.com/embed/g1jgzPJw1NU?start=5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
             </div>
             <div class="divTop col-sm" >
                 <p>A Praia de Coqueirinho - Conde - Paraíba</p>
                 <iframe width="560" height="315" src="https://www.youtube.com/embed/UljLgBsjPaA?start=11" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
             </div>
             <div class="divTop col-sm" >
                 <p>Gramado e Canela:</p>
                 <iframe width="560" height="315" src="https://www.youtube.com/embed/GNqtbaazZ7A?start=5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
             </div>
         </div>
    </main>
<article class="chamadaHome" >
    <div class="chamadaHomeCard" >
        <div>
            <img src="~/assets/pexels-te-lensfix-1371360.jpg" width="400" alt="">
        </div>
        <div class="chamadaHometxt" >
            <i>Dizem por aí...</i><br>
            <br><del>Viajar é só pra quem tem dinheiro!</del> <br>
            <br><mark>Viajar é questão de planejamento!</mark>
            <p>Aqui na Dreams Viagens, você paga e viaja sem preocupações!</p>
            <p class="valor"><br><b>Todos merecem um momento para relaxar e curtir a vida!</b><br></p>
            <small> Suaves Prestaçoes Antecipadas, que não pesam no seu bolso!</small>
        </div>
    </div>
</article>
