 <!--INICIO MAIN-->

    <main class="mainPromocao">
        <h1 id="mainH1">Promoções da Semana</h1>
        
        
    <div class="promocao-section">
        <div class="destino">
            <img src="~/assets/bangkok-8757031849_16d90c182b_b.jpg" alt="bankok" class="destino-pic">
            <div class="destino-info">
                <h2>Bangkok</h2>
                <p>capital da Tailândia</p>
                <div class="btncompra">
                    <a href="./compra.html">Comprar</a>

                </div>
            </div>
        </div>

        <div class="destino">
            <img src="~/assets/ilhasMaldivas-grande.jpg" alt="ilhasMaldivas" class="destino-pic">
            <div class="destino-info">
                <h2>Ilhas Maldivas</h2>
                <p>nação tropical no Oceano Índico</p>
                <div class="btncompra">
                    <a href="./compra.html">Comprar</a>

                </div>
            </div>
        </div>

        <div class="destino">
            <img src="~/assets/Gramado-RS_2012_Nokia_N8_-_panoramio.jpg" alt="gramado-riograndedosul" class="destino-pic">
            <div class="destino-info">
                <h2>Gramado</h2>
                <p>Rio Grande do Sul</p>
                <div class="btncompra">
                    
                    <a href="./compra.html">Comprar</a>
                </div>
            </div>
        </div>

        <div class="destino">
            <img src="~/assets/Abismo_anhumas-_bonito-ms.jpg" alt="" class="destino-pic">
            <div class="destino-info">
                <h2>Bonito</h2>
                <p>Mato Grosso do Sul</p>
                <div class="btncompra">
                    
                    <a href="./compra.html">Comprar</a>

                </div>
            </div>
        </div>
    </div>


    </main>

    <!--FIM MAIN  -->

  <!--script-->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

